<?xml version="1.0"?>
<QCARConfig xsi:noNamespaceSchemaLocation="qcar_config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Tracking>
        <ImageTarget name="item_1" size="375 375"/>
        <ImageTarget name="item_2" size="375 375"/>
        <ImageTarget name="item_3" size="375 375"/>
        <ImageTarget name="item_4" size="375 375"/>
        <ImageTarget name="item_5" size="375 375"/>
    </Tracking>
</QCARConfig>
